<!DOCTYPE html>
<html lang="es-MX">
<!-- Parte del head -->
<%- include('./partials/head.ejs', { data: index }) %>
<body>
    <!-- Parte del header -->
    <%- include('./partials/header.ejs') %>
    <!-- Cuerpo de la Página-->
    <main>
        <div class="carrusel">
            <img src="/images/carrusel/carrusel-1.png" alt="carrusel">
        </div>
        <h2 class="titulo"><span>¿CÓMO FUNCIONA?</span></h2>
        <div class="como-funciona">
            <article>
                <img src="/images/icons/masala-papad.png" alt="img-1">
                <h5>1. ELEGÍ TUS PLATOS</h5>
                <p>Más de 40 platos para guardar en tu carrito.</p>
            </article>
            <article>
                <img src="/images/icons/envio-gratis.png" alt="img-2">
                <h5>2. RECIBÍ EN CASA</h5>
                <p>De Lunes a Viernes o retiralo desde nuestra tienda.</p>
            </article>
            <article>
                <img src="/images/icons/comiendo.png" alt="img-3">
                <h5>3. ¡A COMER CASERO!</h5>
                <p>Disfruta de una comida como si fuera de casa.</p>
            </article>
        </div>
        <h2 class="titulo"><span>COMIDAS COMPLETAS</span></h2>
        <div class="mas-elegido">
            <% for (producto of products) { %>
            <article>
                <img src="/images/platillos/<%= producto.image %>" alt="plato-1">
                <div class="contenido-plato">
                    <h5><%= producto.name %></h5>
                    <p class="descripcion"><%= producto.description %></p>
                    <p class="precio">$ <%= producto.price %>.00</p>
                </div>
            </article>
            <% } %>
        <!--
            <article>
                <img src="/images/platillos/empanizado.png" alt="plato-1">
                <div class="contenido-plato">
                    <h5>Tempura de Verduras</h5>
                    <p>Tempura de verduras ligera y crujiente. Un plato realmente exquisito. </p>
                    <p class="precio">$ 1,200.00</p>
                </div>
            </article>
            <article>
                <img src="/images/platillos/pata_muslo.jpg" alt="plato-1">
                <div class="contenido-plato">
                    <h5>Pata y Muslo</h5>
                    <p>Pata y Muslo Deshuesada de Pollo a la Pomarola con Puré de Calabazas.</p>
                    <p class="precio">$ 850.00</p>
                </div>
            </article>
            <article>
                <img src="/images/platillos/tarta-de-cebolla.jpg" alt="plato-1">
                <div class="contenido-plato">
                    <h5>Tarta de Cebolla</h5>
                    <p>Tarta de Cebolla y Queso Port Salut Light (con masa de ricotta y harina Integral).</p>
                    <p class="precio">$ 850.00</p>
                </div>
            </article>
        -->
        </div>
        <div class="conoce-nuestro-menu">
            &nbsp;
        </div>
        <div class="newsletter">
            <form action="#" method="post">
                <div class="group-form">
                    <span class="principal">Recibí todas las ofertas</span>
                    <span class="secundario">
                        ¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a
                        disfrutarlas!</span>
                    <div class="group-box">
                        <input type="text" name="" id="" class="text-box">
                        <button class="btn" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- Parte del footer  -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>