<!DOCTYPE html>
<html lang="es-MX">
<!-- Parte del head -->
<%- include('../partials/head.ejs', { data: perfil }) %>
<body>
    <!-- Parte del header -->
    <%- include('../partials/header.ejs') %>
    <!-- Cuerpo de la página -->
    <section class="perfil">
        <form action="/usuarios/perfil" method="post" enctype="multipart/form-data">
            <h4>Perfil de <%= users.nombre  %> </h4>
            <div class="form-module">
                <div class="group-input">
                    <img src="../../images/users/<%= users.imagen %> " alt="imagen de perfil">
                </div>
                <div class="group-input">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" class="text-box">
                </div>
                <div class="group-input">
                    <label for="lastname">Apellidos:</label>
                    <input type="text" name="lastname" id="lastname" class="text-box">
                </div>
                <div class="group-input">
                    <label for="email">Correo:</label>
                    <input type="text" name="email" id="email" class="text-box">
                </div>
                <div class="group-input">
                    <label for="password">Cambiar Contraseña:</label>
                    <input type="text" name="password" id="password" class="text-box">
                </div>
                <div class="group-input">
                    <label for="iamge">Cambiar foto de perfil:</label>
                    <input type="file" name="image" id="image" class="text-box">
                </div>
                <div class="group-input">
                    <button type="submit" class="btn">Guardar Cambios</button>
                </div>
            </div>
            <div>
                <a href="/users/logout">Cerrar Sesion</a>
            </div>
        </form>
    </section>
    <!-- Parte del footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>