<!DOCTYPE html>
<html>
<!-- Parte del head -->
<%- include('../partials/head.ejs', { data: productDetails }) %>

    <body>
        <!-- Encabezado de la Página -->
        <%- include('../partials/header.ejs') %>
            <!-- Cuerpo de la Página-->
            <main>
                <section>
                    <div class="detalle-productos">
                        <div class="contenido">
                            <div class="container-img">
                                <img src="/images/platillos/<%= producto.image %>" alt="detalle del producto">
                            </div>
                            <div class="descripcion-productos">
                                <h1><%= producto.name %></h1>
                                <p><%= producto.description %></p>
                            </div>
                        </div>
                        <div class="container-datos">
                            <div class="seccion-relacionados">
                                <h2>Productos relacionados </h2>
                                <div>
                                    <li>
                                        <img src="/images/platillos/empanizado.png" width="400px" alt="">
                                    </li>
                                    <li>
                                        <img src="/images/platillos/lasaña.jpg" width="400px" alt="">
                                    </li>
                                    <li>
                                        <img src="/images/platillos/empanizado.png" width="400px" alt="">
                                    </li>
                                </div>
                            </div>
                        </div>
                </section>
            </main>
            <!-- Parte del footer  -->
            <%- include('../partials/footer.ejs') %>
    </body>

</html